@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-primary-hover: #1068c2;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1a2632;
  
  --font-display: "Manrope", sans-serif;
  --font-body: "Noto Sans", sans-serif;
  
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb {
    background: #334155;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

